/*타입 선택자*/
Label{
    -fx-font-size:18px;
}
/*id 선택자*/
/* #은 fxml 의 id(fx:id 속성과는 전혀 다른 것, 그냥 id) 속성을 의미*/
#labelId{
    -fx-background-color:yellow;
    -fx-color:white;
}
/* 클래스 선택자 */
/* .labelClass 는 같은 속성을 여러가지 선택자에 부여할 때 유용 */
.labelClass{
    -fx-background-color:blue;
    -fx-text-fill:white;
}
/* 포커스를 받으면 */
TextField:focused{
    -fx-border-color:skyblue;   /* 테두리 */
    -fx-background-color:yellow;
}
PasswordField:focused{
    -fx-border-color:red;
    -fx-background-color:green;
}
/* 영역 안으로 들어오면 */
Button:hover{
    -fx-border-color:skyblue;
    -fx-background-color:yellow;
}
/* 눌리면 */
Button:pressed{
    -fx-border-color:skyblue;
    -fx-background-color:red;
}